version: '3'
services:
  postgres:
    image: postgres:15-alpine
    # command: [ "postgres", "-c", "log_statement=all", "-c", "log_destination=stderr" ]
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: pubkey-link
      POSTGRES_USER: pubkey-link
      POSTGRES_PASSWORD: pubkey-link
    volumes:
      - ./tmp/postgres:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    ports:
      - '6379:6379'
    volumes:
      - ./tmp/redis:/data
