import { Field, InputType } from '@nestjs/graphql'

@InputType()
export class <%= actor.className %>Create<%= model.className %>Input {
<% for (let field of fields){ %>
  @Field(<% if(field.optional){ %>{ nullable: true }<% } %>)
  <%= field.name %><% if(field.optional){ %>?<% } else { %>!<% } %>: <%= field.type %>
<% } %>
}
