name: CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  API_URL: http://localhost:3000/api
  DATABASE_URL: postgresql://pubkey-link:pubkey-link@localhost:5432/pubkey-link?schema=public
  DATABASE_PROVISION: true
  PORT: 3000

jobs:
  main:
    name: Nx Cloud - Main Job
    uses: nrwl/ci/.github/workflows/nx-cloud-main.yml@v0.13.0
    with:
      node-version: 20.10.0
      pnpm-version: 8.15.8
      main-branch-name: main
      number-of-agents: 3
      init-commands: |
        pnpm prisma generate
        pnpm nx-cloud start-ci-run --stop-agents-after="build" --agent-count=3
      parallel-commands: |
        pnpm nx-cloud record -- pnpm nx format:check
      parallel-commands-on-agents: |
        pnpm nx affected --target=lint --parallel=3
        pnpm nx affected --target=test --parallel=3 --ci --code-coverage --exclude anchor,tools
        pnpm nx affected --target=build --parallel=3

  agents:
    name: Nx Cloud - Agents
    uses: nrwl/ci/.github/workflows/nx-cloud-agents.yml@v0.13.0
    with:
      node-version: 20.10.0
      pnpm-version: 8.15.8
      number-of-agents: 3
      install-commands: |
        pnpm install --frozen-lockfile
        pnpm prisma generate
